@charset "utf-8";
/* CSS Document */

// 変数の設定
$blue:#367ABD;
$red:#EE4035;
$yellow:#F9ED3A;
$text-color: #111111 !default;
$link-color: #2962ff !default;
$link-hover-color: darken($link-color, 5%) !default;
// 彩度を上げる color: saturate($base-color, 15%);
// 彩度を下げる color: desaturate($base-color, 15%);
// 輝度を上げる color: lighten($base-color, 15%);
// 輝度を下げる color: darken($base-color, 15%);
// rgbaで透明度を変える color: rgba($base-color, 0.8);
// 色の反転 color: invert($base-color);
// グレースケール color: grayscale($base-color);

@mixin base_width{
  margin: 0 auto;
  width: 1280px;
}
// @extendでスタイルの継承
// @mixinでステイルの定義
// @includeでmixinの呼び出し


// googleフォント日本語
// @import url('https://fonts.googleapis.com/css?family=Kosugi|Kosugi+Maru|M+PLUS+1p|M+PLUS+Rounded+1c|Noto+Sans+JP|Noto+Sans+SC|Noto+Sans+TC|Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC|Sawarabi+Gothic');

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'M PLUS 1p', sans-serif;
// font-family: 'Noto Sans SC', sans-serif;
// font-family: 'Noto Serif TC', serif;
// font-family: 'Noto Serif SC', serif;
// font-family: 'Sawarabi Gothic', sans-serif;
// font-family: 'Noto Serif JP', serif;
// font-family: 'M PLUS Rounded 1c', sans-serif;
// font-family: 'Kosugi Maru', sans-serif;
// font-family: 'Kosugi', sans-serif;

/*
Font Awesome
xxx:before {
display: none;
font-family: "Font Awesome 5 Regular";
content: "\f1ea";
margin-right: 10px;
}

awesome5のフリー
&:after {
font-family: "Font Awesome 5 Free";
content: "\f105";
font-weight:900;
}
*/


// https://fontawesome.com/icons
// 幅を揃える .fa-fw
// サイズ fa-xs fa-sm fa-lg fa-2x fa-3x fa-4x fa-5x fa-6x fa-7x fa-8x fa-9x fa-10x
// ボーダーで囲う fa-border
// 回転 fa-rotate-90
// 反転 fa-flip-horizontal fa-flip-vertical
// 回す fa-spin
// 左寄せ右寄せ fa-pull-right fa-pull-left

*{
  box-sizing: border-box;
}

.ie_ObjectFit {
object-fit: cover;
font-family: 'object-fit: cover;'
}
/* レイアウトCSS */
body{
  min-height:1200px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family :"Times New Roman", "游明朝", YuMincho,"ヒラギノ明朝 Pr6 W6","Hiragino Mincho Pro", "HGS明朝E","メイリオ", "ＭＳ Ｐ明朝","MS PMincho",Meiryo, serif;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}


.wrapper{
  padding:60px;
  .content{
    width: 1000px;
    margin:0 auto;
  }
}